.products-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 5vh 0;
    justify-content: center;
}

.product-card {
    border: 1px solid #6f2f8a !important;
    max-width: 20%;

    .card-header {
        color: white;
        font-weight: bold;
        background-color: #4c205e;

        h5 {
            padding: 0;
            margin: 0;
        }
    }

    .card-body {
        color: white;
        background-color: rgb(33, 37, 41);
    }

    .card-img-container {
        overflow: hidden;
        width: 100%;
        height: 160px;
    }

    img {
        margin-top: -10px;
        width: 100%;
        height: auto;
    }

    button {
        border: 1px solid #6f2f8a;
        background-color: #4c205e;
    }

    button a {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

    .product-card-redirect-link {
        color: inherit;
        text-decoration: none;
    }
}

@media(max-width: 1020px) {
    .product-card {
        max-width: 40%;
    }
}

@media(max-width: 720px) {
    .product-card {
        max-width: 90%;
    }
}